.title {
  padding-top: 10px;
  text-align: center;
  font-family: "Courier New", Courier, monospace;
}

.title-img {
  width: 15%;
  height: 20%;
  margin: 10px auto;
}
.title-img img {
  width: 100%;
  height: 100%;
}

.result {
  text-align: center;
  font-family: "Courier New", Courier, monospace;
}
.result h1 {
  text-align: center;
  font-family: "Courier New", Courier, monospace;
}

.flex-box-main-div {
  width: 90%;
  margin: 20px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.flex-box-main-div div {
  width: 40%;
  display: flex;
  flex-direction: column;
}
.flex-box-main-div div img {
  width: 100%;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.3);
  border-radius: 3px;
}
.flex-box-main-div div h2 {
  text-align: center;
  font-family: "Courier New", Courier, monospace;
}
.container-of-rps {
  width: 90%;
  margin: 20px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.container-of-rps div {
  width: 10%;
}
.container-of-rps div img {
  width: 100%;
  cursor: pointer;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.3);
  transition: 0.1s ease-in;
}
.container-of-rps div img:hover {
  transform: scale(110%);
}

@media (max-width: 600px) {
  .title {
    padding-top: 30px;
  }

  .title-img {
    width: 25%;
    height: 20%;
    margin: 10px auto;
  }
  .title-img img {
    width: 100%;
    height: 100%;
  }

  .flex-box-main-div div {
    width: 50%;
  }
  .flex-box-main-div div img {
    width: 90%;
  }
  .container-of-rps div {
    width: 20%;
    margin-top: 10px;
  }
  .container-of-rps div img {
    width: 100%;
    cursor: pointer;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.3);
    transition: 0.1s ease-in;
  }
}
